.header-wrapper{
  width: 100%;
  box-shadow: 0 2px 6px #dcdcdc;
  background-color: #00BCD5;
  padding: 27px 0px;
}

.app{
  padding: 20px 15px 40px;
    .col{
      padding: 15px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      border-radius: 3px;
      margin: 10px 15px;
      min-height: 350px;
    }

}